* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --bg-main:#464646; */
    --bg-card: #2D2727;
    --border-color: #efc745;
}

body {
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    gap: 0.7rem;
    height: 100vh;
    overflow-y: hidden;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-repeat: no-repeat;
    background-size: auto;

    
}

h1 {
    color: #fff;
    font-family: "Lexend Deca Light";
    font-style: italic;
    font-size: 4rem;
}

span {
    color: var(--border-color);
}

#card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}


.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.card,
.back-card,
.front-card {
    height: 5rem;
    width: 5rem;
}

.back-card,
.front-card {
    position: absolute;
    backface-visibility: hidden;
}

.front-card {
    background: var(--border-color);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.back-card {
    transform: rotateY(180deg);
    /*background-color: #6589F9;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.card_selected {
    transform: rotateY(180deg);
}

.card_match .front-card {
    background-color: var(--bg-card);
}
#reset{
    background-color: rgba(149, 157, 165, 0.2);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    transition: 0.25s ease;
    box-shadow: 3px 3px 5px #aaa;
}
#reset:hover{
    background-color: var(--border-color);
    color: black;
    box-shadow: 5px 5px 10px #aaa;
    cursor: pointer;
}